.emoji {
  background-color : #87ceff;
  border: solid ;
  color: #87ceff;
  border-width: 0px;
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 50%;
  display: inline;
} 

.emotionButtons {
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 40px 20px;
}

.emoji:link, .emoji:visited {
  background-color: #87ceff;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.emoji:hover, .emoji:active {
  background-color:white;
}

.crisis:link, .crisis:visited {
  background-color: #87ceff;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.crisis:hover, .crisis:active {
  background-color:red;
  color: white;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
}

.about {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  color: #87ceff;
}